<section class="detail-part">
   <div class="banner-sec">
      <div class="row">
         <div class="col-6">
            <div class="banner-text">
               <ul class="nav">
                  <li class="nav-item">
                     <a class="nav-link active">Home</a>
                  </li>
                  <li class="nav-item">
                     <span id="menu-icon">/</span>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link">Students</a>
                  </li>
               </ul>
               <h2>Students</h2>
            </div>
         </div>
         <div class="col-6">
            <div class="create-btn">
               <a routerLink="/students-list">
                  Back
               </a>
            </div>
         </div>
      </div>
   </div>
</section>   

<section class="student-create">
  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()" action="http://localhost:3000/students" method="POST">
       <div class="form-group">
        <label>ID</label>
        <input type="text" class="form-control" id="" required [(ngModel)]="student.id" name="id">
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="" required [(ngModel)]="student.name" name="name">
      </div>

      <div class="form-group">
        <label for="name">Department</label>
        <input type="text" class="form-control" id="" required [(ngModel)]="student.department" name="department">
      </div>

      <div class="form-group">
          <label>Regulation</label>
          <input type="name" name="regulation" class="form-control" required [(ngModel)]="student.regulation">
      </div>

      <div class="form-group">
          <label>Contact No</label>
          <input type="name" name="contactNo" class="form-control" required [(ngModel)]="student.contactNo">
      </div>


      <div class="form-group">
          <label>Lectures</label>
          <input type="name" name="lectures" class="form-control" required [(ngModel)]="student.lectures">
      </div>

      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <!-- <button class="btn btn-success" (click)="newStudent()">Add</button> -->
  </div>
</section>